@media screen and (max-width: 1024px) {
  // body {
  //   overflow-x: hidden;
  // }

  .logo {
    margin-left: 5%;
  }

  .nav-list {
    margin-right: 2.9%;
  }

  #section1 .text-content {
    width: 37%;
    margin-left: 5%;
  }

  #section1 .quotation-form {
    width: 38%;
    margin-right: 5%;
  }

  #section2 {
    .services {
      width: 90%;

      grid-template-columns: auto auto;
    }
  }

  #testimonials .testimonial {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 4%;
  }

  .nav-list {
    position: absolute;
    right: 0;
    height: 94vh;
    top: 6vh;
    background: #333;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;

    hr {
      width: 76%;
      border: 1px solid #126157;
      height: 0;
      display: inline-block;
      transform: translateX(-400%);
    }

    .list-item {
      a:hover {
        border-bottom: none;
        color: $line-color;
      }
    }
  }

  .list-item {
    opacity: 1;
    margin: 20px auto;
    text-transform: uppercase;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-left: 4%;
  }

  #section1 {
    display: grid;
    grid-template-columns: auto;
    margin: auto;

    .text-content,
    .quotation-form {
      width: 92%;
      margin: 40px 30px;
    }
  }

  #section2 {
    .services {
      display: grid;
      grid-template-columns: auto auto;

      width: 92%;
      margin: 40px 30px;
    }
  }

  #testimonials {
    .testimonial {
      width: 72%;
    }
  }
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 1rem;
  }

  .showcase-text {
    top: 29vh;
    font-size: 1rem;
  }
  #section1 .text-content {
    width: 90%;
    margin: 30px 5%;
  }

  #section1 .quotation-form {
    width: 90%;
    margin: 30px 5%;
    form button {
      width: 50%;
    }
  }

  #section2 .services {
    grid-template-columns: 373px;

    margin: 0 5%;
  }

  #testimonials .testimonial {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .showcase {
    height: 300px;
  }

  .showcase-text {
    // position: relative;
    top: 36%;
    color: $white-color;
    font-size: 0.9rem;

    width: 70%;
  }

  .nav-list {
    position: absolute;
    right: 0;

    top: 7.5vh;
  }

  #section2 {
    .services {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 6% 0 4%;
    }
  }
}
