@media screen and (max-width: 1024px) {
  // body {
  //   overflow-x: hidden;
  // }

  .logo {
    margin-left: 5%;
  }

  .showcase-text .phone {
    width: 25vw;
  }

  .nav-list {
    margin-right: 2.9%;
  }

  #section1 .text-content {
    width: 37%;
    margin-left: 5%;
  }

  #section1 .quotation-form {
    width: 38%;
    margin-right: 5%;
  }

  #section2 {
    .services {
      width: 90%;

      grid-template-columns: auto auto;
    }
  }

  #testimonials .testimonial {
    width: 50%;
  }
}

@media screen and (max-width: 800px) {
  .logo {
    margin-left: 4%;
  }

  .nav-list {
    position: absolute;
    right: 0;
    height: 94vh;
    top: 6vh;
    background: $dark-color;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 30px;
    margin: 0;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 1;

    hr {
      width: 76%;
      border: 1px solid #126157;
      height: 0;
      display: inline-block;
      transform: translateX(-400%);
    }

    .list-item {
      a:hover {
        border-bottom: none;
        color: $line-color;
      }
    }
  }

  .list-item {
    opacity: 1;
    margin: 20px auto;
    text-transform: uppercase;
  }

  .burger {
    display: block;
    cursor: pointer;
    margin-left: 4%;
  }

  // Showcase
  .showcase {
    height: 100vh;
  }
  .showcase-text {
    top: 40vh;
  }
  .showcase-text .phone {
    width: 28vw;
  }
  .scroll-down {
    position: absolute;
    bottom: 15px;
    left: 50%;
    width: 40px;
    height: 40px;

    transform: translateY(-80px) translateX(-50%) rotate(45deg);
    span {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      border-bottom: 2px solid $white-color;
      border-right: 2px solid $white-color;
      animation: animate 1.5s linear infinite;
      opacity: 0;

      &:nth-child(1) {
        transform: translate(-15px, -15px);
        animation-delay: -0.4s;
      }
      &:nth-child(2) {
        transform: translate(0, 0);
        animation-delay: -0.2s;
      }
      &:nth-child(3) {
        transform: translate(15px, 15px);
        animation-delay: 0;
      }
    }
  }

  @keyframes animate {
    0% {
      top: -5px;
      left: -5px;
      opacity: 0;
    }
    25% {
      top: 0px;
      left: 0px;
      opacity: 1;
    }

    50%,
    100% {
      top: 5px;
      left: 5px;
      opacity: 0;
    }
  }

  #section1 {
    display: grid;
    grid-template-columns: auto;
    margin: auto;

    .text-content,
    .quotation-form {
      width: 92%;
      margin: 40px 30px;
    }
  }

  #section2 {
    .services {
      display: grid;
      grid-template-columns: auto auto;

      width: 92%;
      margin: 40px 30px;
    }
  }

  #testimonials {
    .testimonial {
      width: 72%;
    }
  }

  // bottom nav
  // .navBottom {
  //   position: sticky;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   display: block;
  //   background: $dark-color;
  //   border-bottom: solid #444 1px;
  //   opacity: 0.9;

  //   ul {
  //     display: flex;

  //     li {
  //       width: 50%;
  //       text-align: center;
  //       text-transform: uppercase;
  //       font-size: 1.1rem;
  //       color: $white-color;
  //       padding: 1rem 0;
  //     }
  //   }
  // }
}

@media screen and (max-width: 500px) {
  .logo {
    font-size: 1.1rem;
  }

  .showcase-text .phone {
    width: 30vw;
  }

  .showcase-text {
    font-size: 1rem;
  }
  #section1 .text-content {
    width: 90%;
    margin: 30px 5%;
  }

  #section1 .quotation-form {
    width: 90%;
    margin: 30px 5%;
    form button {
      width: 50%;
    }
  }

  #section2 .services {
    grid-template-columns: 373px;

    margin: 0 5%;
  }

  #testimonials .testimonial {
    width: 90%;
  }
}

@media (max-width: 400px) {
  .showcase-text {
    // position: relative;
    top: 36%;
    color: $white-color;
    font-size: 0.9rem;

    width: 70%;
  }

  .nav-list {
    position: absolute;
    right: 0;

    top: 7.5vh;
  }

  #section2 {
    .services {
      display: grid;
      grid-template-columns: 1fr;
      margin: 0 6% 0 4%;
    }
  }
}
